version: "3.7"

# Host mappings
x-host-mappings: &host-mappings
  extra_hosts:
    - host.docker.internal:host-gateway
    - keycloak:host-gateway

services:
  backend:
    ports:
      - 5000:5000
    env_file:
      - env_files/debug.env
    volumes:
      - ./webapp:/usr/src/app
      - ./shared/quantimage2_backend_common:/usr/local/lib/python3.8/site-packages/quantimage2_backend_common
      - /data/quantimage2-data:/quantimage2-data
    <<: *host-mappings

  celery_extraction:
    env_file:
      - env_files/debug.env
      - env_files/debug-extraction.env
    volumes:
      - ./workers:/usr/src/app
      - ./shared/quantimage2_backend_common:/usr/local/lib/python3.8/site-packages/quantimage2_backend_common
      - /data/quantimage2-data:/quantimage2-data
    <<: *host-mappings
    # Uncomment for debugging celery worker tasks
    #command: ["celery", "--app=tasks", "worker", "--loglevel=INFO", "--pool=solo", "--hostname=extraction@%h", "--queues=extraction"]

  celery_training:
    env_file:
      - env_files/debug.env
      - env_files/debug-training.env
    volumes:
      - ./workers:/usr/src/app
      - ./shared/quantimage2_backend_common:/usr/local/lib/python3.8/site-packages/quantimage2_backend_common
      - /data/quantimage2-data:/quantimage2-data
    <<: *host-mappings
    # Uncomment for debugging celery worker tasks
    #command: ["celery", "--app=tasks", "worker", "--loglevel=INFO", "--pool=solo", "--hostname=training@%h", "--queues=training"]

  flower:
    ports:
      - 3333:3333

  db:
    ports:
      - 3307:3306

  phpmyadmin:
    ports:
      - 8888:80

  keycloak:
    ports:
      - 8081:8080

  keycloak-db:
    ports:
      - 6543:5432

  ohif:
    ports:
      - 4567:80

  redis:
    ports:
      - 6379:6379

  redis-socket:
    ports:
      - 6380:6379
