# Code formatter
black

# Eventlet
eventlet

# Debug
pydevd-pycharm==193.5233.109
ptvsd

# Flask
Flask
Flask-SQLAlchemy
Flask-CORS
Flask-SocketIO

# Celery
Celery

# Redis
redis

# HTTP requests handler
requests

# Keycloak
python-keycloak

# SQLAlchemy
SQLAlchemy

# MySQL
mysqlclient

# Hashing
passlib

# JSON
simplejson

# Serialization
jsonpickle

# Numpy
numpy

# PyYAML
pyyaml