# Code formatter
black

# Eventlet
eventlet

# Multipart handler
requests-toolbelt

# Debug
pydevd-pycharm==213.6461.77
ptvsd

# Flask
Flask<2.0
Flask-SQLAlchemy
Flask-CORS
Flask-SocketIO<5
Flask-Compress

# Celery
Celery

# Redis
redis

# HTTP requests handler
requests

# Keycloak
python-keycloak-client

# SQLAlchemy
SQLAlchemy<1.4

# MySQL
mysqlclient

# Hashing
passlib

# JSON
simplejson

# Numpy
numpy

# PyYAML
pyyaml

# Timing
ttictoc

# Melampus (temporary)
scikit-learn
pandas
lifelines

# Iteration
more-itertools

# Tables (HDF5)
tables