# Code formatter
black

# Eventlet
eventlet

# Multipart handler
requests-toolbelt

# Debug
pydevd-pycharm==231.8109.197
ptvsd

# Flask
Flask<2.0
Flask-SQLAlchemy
Flask-CORS
Flask-SocketIO<5
Flask-Compress

# itsdangerous (for flask compatibility)
itsdangerous==2.0.1

# Jinja2 (for flask compatibility)
Jinja2==3.0.3

# Werkzeug (for flask compatibility)
werkzeug==2.0.2

# dnspython (for eventlet & SSL bug)
dnspython==1.16.0

# Celery
Celery

# Redis
redis

# HTTP requests handler
requests

# Keycloak
python-keycloak

# SQLAlchemy
SQLAlchemy<1.4

# Alembic
alembic

# MySQL
mysqlclient

# Hashing
passlib

# JSON
simplejson

# Numpy
numpy

# PyYAML
pyyaml

# Timing
ttictoc

# ML
scikit-learn
scikit-survival
pandas<2.0

# Iteration
more-itertools

# Tables (HDF5)
tables

# Read Docker Secrets
get-docker-secret