# Code formatter
black

# Debug
pydevd-pycharm==192.7142.56

# HTTP requests handler
requests

# Multipart handler
requests-toolbelt

# Flask-SocketIO
Flask-SocketIO

# Celery
Celery

# Redis
redis

# JSON
simplejson

# Serialization
jsonpickle

# Computation modules (should disappear)
pyradiomics

# YAML
pyyaml