# Code formatter
black

# Debug
pydevd-pycharm==213.6777.50

# HTTP requests handler
requests

# Multipart handler
requests-toolbelt

# Flask
Flask<2.0
Flask-SQLAlchemy
Flask-SocketIO<5
Flask-Compress

# itsdangerous (for flask compatibility)
itsdangerous==2.0.1

# MySQL
mysqlclient

# SQLAlchemy
SQLAlchemy<1.4

# Keycloak
python-keycloak-client

# Celery
Celery

# Redis
redis

# JSON
simplejson

# Numpy (should disappear)
numpy

# Computation modules (should disappear)
pyradiomics

# PyDICOM
pydicom

# YAML
pyyaml

# tictoc
ttictoc

# Okapy
SimpleITK

# Iteration
more-itertools