# Code formatter
black

# Debug
pydevd-pycharm==201.7223.92

# HTTP requests handler
requests

# Multipart handler
requests-toolbelt

# Flask
Flask
Flask-SQLAlchemy
Flask-SocketIO

# MySQL
mysqlclient

# SQLAlchemy
SQLAlchemy

# Keycloak
python-keycloak-client

# Celery
Celery

# Redis
redis

# JSON
simplejson

# Serialization
jsonpickle

# Computation modules (should disappear)
pyradiomics

# PyDICOM
pydicom

# YAML
pyyaml

# tictoc
ttictoc